<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Gagini Slatkiši se bavi pravljenjem domaćih i kvalitetnih slatkiša, koji ce ulepšati sve vaše najlepše događaje."
    />

    <link
      rel="icon"
      href="{{url_for('static', filename='/img/Favicon-GaginiSlatkiši.png')}}"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&family=Secular+One&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="{{url_for('static', filename='/css/general.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='/css/styles.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='/css/queries.css')}}"
    />

    <title>Gagini Slatkiši</title>
  </head>
  <section class="header-container sticky-section">
    <header class="header">
      <a href="{{url_for('home')}}" class="">
        <img
          src="{{url_for('static', filename='img/GaginiSlatkiši.png')}}"
          alt="GaginiSlatkiši-logo"
          class="logo"
        />
      </a>
      <nav class="main-nav">
        <ul class="main-nav-list">
          <li>
            <a class="main-nav-link" href="{{url_for('home')}}#kolaci"
              >Kolači i Torte</a
            >
          </li>
          <li>
            <a class="main-nav-link" href="{{url_for('home')}}#galerija"
              >Galerija</a
            >
          </li>
          <li>
            <a class="main-nav-link" href="{{url_for('home')}}#pricing">Cene</a>
          </li>
          <li>
            <a class="main-nav-link nav-cta" href="{{url_for('home')}}#cta"
              >Pošaljite poruku</a
            >
          </li>
        </ul>
      </nav>
      <button class="btn-mobile-nav">
        <ion-icon class="icon-mobile-nav" name="menu-outline"></ion-icon>
        <ion-icon class="icon-mobile-nav" name="close-outline"></ion-icon>
      </button>
    </header>
  </section>
</html>
