{% block content %}
{% include "nav.html" %}
<body class = "margin-sticky">
    <main>
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <div class="container center-text">
    <div class="alert alert-info">
      <span>{{ messages[0] }}</span>
      
    </div>
      
    
  </div>
  {% endif %}
  {% endwith %}
      <div class="container center-text sweetie-subheading">
        <span class="subheading">{{ subheading }}</span>
        <h3 class="heading-sweete">
          {{ secondary_heading }}
        </h3>
      </div>
      <div class="container grid grid--3-cols margin-bottom-md">
        {% for sweeties in all_sweeties %}
        <div class="slatkis-ingredients">
          <img
            src="../static/img/uploads/{{ sweeties.sweetie_img }}"
            alt="Slika čokoladne torte, ukrašena sa jagodama."
            class="ingredients-img"
          />
          <div class="ingredients-content">
            <p class="ingredients-title">{{sweeties.sweetie_name}}</p>

            <ul class="ingredients-attributes">
              <li class="ingredients-attribute">
                <span>{{ sweeties.description_text }}</span>
              </li>
              {% if admin.id == 1 %}
              <li><a href="{{ url_for('delete_sweetie', sweetie_id=sweeties.id, sweetie=sweetie) }}" class="link slatkisi-link">Delete</a></li>
              {% endif %}
            </ul>
          </div>
        </div>
        {% endfor %}
      </div>
      {% if admin.id == 1 %}
      <section class="section-cta" id="cta">
        <div class="container">
          <div class="sweetie-version">
            <form
              class="sweetie-form"
              action="{{url_for('section', sweetie=sweetie)}}"
              method="POST" 
              enctype="multipart/form-data"
              novalidate
            >
              {{ form.csrf_token }} 
              <div class="sweetie-text-box">
                {{ form.sweetie_img.label}} 
                {{form.sweetie_img(placeholder="IMG")}}
              </div>
              <div  class="sweetie-text-box">
              {{ form.sweetie_name_form.label }}
              {{form.sweetie_name_form(placeholder="Čokoladna torta") }} 
            </div>
            <div class="sweetie-text-box">
              {{ form.description_text_form.label }}
              {{ form.description_text_form(placeholder="Čokoladna, a voćno osvežavajuća torta sa duplim kremom unutra i spolja.") }} 
            </div>
            
            <div class="sweetie-button">
              {{ form.save(class_="sweetie-button-form") }}
            </div>
              

            </form>
          </div>
        </div>
      </section>
      {%  endif %}
    </main>

    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
  </body>
</html>
 {% include "footer.html"%} {% endblock %}
